// Element Plus 样式覆盖
.el-menu {
  &.el-menu--horizontal,
  &.el-menu--vertical {
    .el-menu-item:not(.is-disabled):focus,
    .el-menu-item:not(.is-disabled):hover {
      background-color: var(--sidebar-menu-hover-bg) !important;
      color: var(--sidebar-menu-text) !important;
    }
  }
}

// 弹出的子菜单样式覆盖
.el-menu--popup {
  .el-menu-item:not(.is-disabled):focus,
  .el-menu-item:not(.is-disabled):hover {
    background-color: var(--sidebar-menu-hover-bg) !important;
    color: var(--sidebar-menu-text) !important;
  }
}
